*$py.class
*,cover
*.DS_Store
*.DS_Store*
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.retry
*.so
*.spec
*.sublime-workspace
*.sw*
*.xterm
*gst-plugins-espeak-*
.DS_Store
.Python
.bundle/
.cache
.coverage
.coverage.*
.eggs/
.hypothesis/
.installed.cfg
.sublime-workspace
.tox/
.vendor/
.vscode/tags
Gemfile.lock
__pycache__/
_debug/
ansible.cfg
ansible_variables.all
bedata_dcos_secrets.sh
behance-docker.tar.gz
behance-openrc.sh
build/
certs/domain.crt
certs/domain.key
certs/xip.io.crt
certs/xip.io.csr
certs/xip.io.key
config.json
coverage.xml
data
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
espeak-1.48.04-source
espeak-1.48.04-source.zip
espeak_tmp.wav
ess.zip
htmlcov/
inventory
lib/
lib64/
library.bak
listener.py.diff
nosetests.xml
openstack.yml
pa.tgz
pa_stable_v19_20140130.tgz
parts/
pip-delete-this-directory.txt
pip-log.txt
pocketsphinx
portaudio
pycairo*
pygobject*
roles/GROG.reboot/
roles/awskinesiscreate/
roles/defunctzombie.coreos-bootstrap/
sdist/
sphinxbase
src/
stats-spark-jobs.tar.gz
target/
var/
.envrc
local-configure.yml
.vagrant/
roles/plone.plone_server/
roles/jnv.unattended-upgrades/
roles/tersmitten.fail2ban/
roles/ANXS.hostname/
roles/ANXS.apt/
._*
bin/
include/
local/
tests.out
vbox_host.cfg
real_scarlett_configuration_files/
.vagrant
scarlett_ansible.box
*.box
roles/ansible-role-docker/
roles/ansible-role-firewall/
roles/bennojoy.ntp/
roles/jorti.fail2ban/
roles/juju4.ipv6/
roles/ksylvan.docker/
roles/bas-ansible-roles-collection.system-core/
roles/bas-ansible-roles-collection.system-firewall/
roles/bas-ansible-roles-collection.system-groups/
roles/bas-ansible-roles-collection.system-hostname/
roles/bas-ansible-roles-collection.system-security/
roles/bas-ansible-roles-collection.system-ssh/
roles/bas-ansible-roles-collection.system-users/
roles/sleighzy.java-8/

# Byte-compiled / optimized / DLL files
# C extensions
# Distribution / packaging
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# Installer logs
# Unit test / coverage reports
# Translations
# Django stuff:
# Sphinx documentation
# PyBuilder
roles/carlba.bash_aliases/
roles/joshualund.golang/
roles/mjanser.powerline/
roles/mmannerm.bash_it/
roles/zzet.rbenv/
roles/ANXS.build-essential/
roles/ANXS.git/
roles/pablocrivella.nvm/
digital-ocean-history.txt
digital-ocean-keys
orig-ks-digial-ocean
temp
roles/dev-sec.nginx-hardening/
roles/dev-sec.os-hardening/
roles/dev-sec.ssh-hardening/
.molecule
venv/
__pycache__
roles/singleplatform-eng.users/
ansible-digital_ocean.cache
steps_dont_commit

static/firewall_payload.json
static/*
!static/.gitkeep

ssh_config

*~
*.bak
*.log
*.pem
*.retry
*.pyc

inventory-marvel-dyninv.bak

do_data.cache
do_data.cache.yaml
temp11
temp
ansible-digital_ocean.cache.yaml
build-config-example.yml
*-inventory/
