awscli==1.11.139
shade==1.13.2
ansible==2.2.2.0
ansible-lint>=3.4
boto==2.43.0
boto3==1.4.2
botocore==1.6.6
netaddr==0.7.18
pretty==0.1
python-slugify==1.2.1
six==1.10.0
simplejson==3.10.0
dopy
yolk3k
ipython
